* {
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}
#search-banner{
    
    

}

body {

    
    font-family: poppins;
    padding: 20px;
    /* background: #ecf4fb; */

    /* background-position: top 30px; */

  

}
.img-gallery{
    /* width: 80%; */
    /* margin: 100px auto 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    background-color: rgb(172, 214, 172);


}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    /* border-radius: 30%; */


}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(66,77,136,0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    /* background: rgba(0,0,0,0.9); */
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}
.full-img img{
    width: 90%;
    max-width: 500px;

}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    
 }
.slide{
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
    display: flex;
    perspective: 100px;
} 

.image-slider-track{
    display: flex;
    width: calc(200px*12);
    animation: play 40s linear;

}
@keyframes play{
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(calc(-250px*6));

    }
}
.image-slider{
    display: grid;
    place-items: center;
}
.image-slider::before,
.image-slider::after{
    background:linear-gradient(to right,(255,255,255,1)0%,(255,255,0)100%);
    position: absolute;
    z-index: 2;
}
.image-slider::before{
    left: 0%;
    top: 0%;
}

.image-slider::after{
    left: 0%;
    top: 0%;
    background:linear-gradient(to right,(255,255,255,1)0%,(255,255,0)100%);

}
img:hover{
    transform: translate(20px);

}
img{
    transition: tranform is;

}



/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;

}

.menu {
    display: flex;
}

.menu li a {
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    /* transition: all ease 0.3s; */

}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;

}

.logo span {
    color: #40aa54;
}

 /* .right-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}  */

/* .right-nav a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #202020;
    position: relative;
} */

/* .right-nav.like {
    background-color: #fff0ee;
    color: #ff6c57;

} */
/* 
.right-nav.cart {
    background-color: #ecf7ee;
    color: #4eb06e;

} */

/* menu li a:hoover{

} */
/* .menu.active {
    color: #40aa54;
    transition: all ease 0.3s;

} */

/* search banner */
#search-banner {
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-image: url(vegr-removebg-preview.png);
    background-repeat: no-repeat;
    width:1150%;
    background-color: #ecf7ee;
    
}

.bg-1 {
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center; */

} 

.bg-2 {
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;

}
.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 500px;
    position: relative;
    align-items: center;
    padding: 30px;

}
.search-banner-text h1{
    font-weight: 1000;
   font-size: 50px;
    color: #202020;
    /* border: solid; */
    width: 700px;
    margin-left: 60%;
    
}
.search-banner-text strong{
    color: #4eb060;
    font-size: 1.4rem;
    margin-top: 10px;
}
.search-box{
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;

}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;

 }
.search-box.search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding:0px 10px;
    outline: none; 

}
.search-box.search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
}
.search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;   
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.search-box.search-btn:hoover{
    background-color: #5ccf71;
    transition: all ease 0.3;
    
}
.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;

}
/* 
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
 */


/* } */
.gallery img{
    width: 100%;
        height: auto;

/* }
.desc{
    padding: 15px;
    text-align: center;
     */
/* } */


 